<p id = "notice"></p>
<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan = "3"></th>
    </tr>
  </thead>

    <tbody>
      <tr>
        <td>ssssssssssssssssssssss</td>
        <td>ttttttttttttttttttttt</td>
        <td><%= link_to "Show", "/books" %></td>
        <td><%= link_to "Edit", "/books" %></td>
        <td><%= link_to "Destoy", "/books" %></td>
      </tr>
    </tbody>
</table>

<h2>New Book</h2>
<!-- form_with部分 -->
<%= form_with model:@book, local:true do |f| %>
　<div class = "field">
    <label for = "book_title">Title</label>
    <%= f.text_field :title %>
  </div>

  <div class = "field">
    <label for = "book_body">Body</label>
    <%= f.text_area :body %>
  </div>

  <div class = "actions">
    <%= f.submit 'Create Book' %>
  </div>

<% end %>
